@charset "utf-8";
 
a:center {
    text-align: center;
}

a:link {
    text-decoration: none;
  }


h1 {
    font-family: 'Aguafina Script';font-size: 22px;
}

p {
    font-family: 'Aldrich';font-size: 22px;
}

ul {
    font-family: 'Aldrich';font-size: 22px;
}

li {
    font-family: 'Allan';font-size: 15px;
}