@charset "utf-8";
 
body {
    background-image: url("galaxy.jpg")
}

  

a:center {
    text-align: center;
}

a:link {
    text-decoration: none;
  }
h1 {
    font-family: 'Aguafina Script';font-size: 22px;
}
p {
    font-family: 'Aldrich';font-size: 22px;
}
ul {
    list-style-type: none;
    font-family: 'Aldrich';font-size: 22px;
}
li {
    list-style-type: none;
    font-family: 'Allan';font-size: 15px;
}