@charset "utf-8";
 
body {
    background-image: url("galaxy.jpg");
    color: #ffffff;
}

    a:center {
    text-align: center;
    }

    a:link {
    text-decoration: none;
    color: #ffffff;
    }
    h1 {
    font-family: 'Aguafina Script';font-size: 22px;
    color: #ffffff;
    }
    p {
    font-family: 'Aldrich';font-size: 22px;
    color: #ffffff;
    }
    ul {
    list-style-type: none;
    font-family: 'Aldrich';font-size: 22px;
    color: #ffffff;
    }
    li {
    list-style-type: none;
    font-family: 'Allan';font-size: 15px;
    color: #ffffff;
    }