@charset "utf-8";
/* CSS Document */

container {
    width:500px;
    height:500px;
    background: #cccccc;
}

.red {
    text-align: center;
    font-weight: bold;
    background:red;
    width:100px;
    height:100px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.green {
    text-align: center;
    font-weight: bold;
    background:green;
    width:100px;
    height:100px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.blue {
    text-align: center;
    font-weight: bold;
    background: blue;
    width:100px;
    height:100px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.purple {
    text-align: center;
    font-weight: bold;
    background: purple;
    width:100px;
    height:100px;
    position: absolute;
    bottom: 0px;
    left: 760px;
}

.footer {
    text-align: center;
    font-weight: bold;
    background: gray;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 300px;
    right: 300px;
}