@charset "utf-8";
/* CSS Document */

container {
    width:500px;
    height:0px;
    background: #cccccc;
}

.red {
    text-align: center;
    font-weight: bold;
    background:red;
    border-radius: 6px;
    width:200px;
    height:370px;
    position: absolute;
    margin: 10px;
}

.green {
    text-align: center;
    font-weight: bold;
    background:green;
    width:200px;
    height:370px;
    border-radius: 6px;
    position: absolute;
    margin: 10px;
}

.blue {
    text-align: center;
    font-weight: bold;
    background: blue;
    float: left;
    margin: 1.858736059%;
    width: 29.615861214%;
  
    height:370px;
    border-radius: 6px;
    right: 10px;
    margin: 10px;
}

.purple {
    text-align: center;
    font-weight: bold;
    background: purple;
    width: 200px;
    height: 370px;
    border-radius: 6px;
    top: 10px;
    left: 10px;
    margin: 10px;
}

.footer {
    text-align: center;
    font-weight: bold;
    background: gray;
    width: 790px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;
}