@charset "utf-8";
/* CSS Document */

container {
    width:500px;
    height:100px;
    background: #cccccc;
}

.red {
    text-align: center;
    font-weight: bold;
    background:red;
    width:200px;
    height:370px;
    position: absolute;
    margin: 10px;
}

.green {
    text-align: center;
    font-weight: bold;
    background:green;
    width:200px;
    height:370px;
    position: absolute;
    margin: 10px;
}

.blue {
    text-align: center;
    font-weight: bold;
    background: blue;
    width:200px;
    height:370px;
    right: 10px;
    margin: 10px;
}

.purple {
    text-align: center;
    font-weight: bold;
    background: purple;
    width: 200px;
    height: 370px;
    left: 10px;
    margin: 10px;
}

.footer {
    text-align: center;
    font-weight: bold;
    background: gray;
    width: 790px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;
}