@charset "utf-8";
/* CSS Document */

container {
    width:500px;
    height:500px;
}

.red {
    background:red;
    width:2300px;
    height:230px;
    float:left;
    margin: 10px;
}

.green {
    background:green;
    width:2300px;
    height:230px;
    float:left;
    margin: 10px;
}

.blue {
    background: blue;
    width:2300px;
    height:230px;
    float:left;
    margin: 10px;
}

.purple {
    background: purple;
    width:2300px;
    height:230px;
    float:left;
    margin: 10px;
}