@charset "utf-8";
/* CSS Document */

container {
    position: relative;
    width:500px;
    height:500px;
    background: #cccccc;
}



.purple {
    background: purple;
    width:230px;
    height:230px;
    bottom: 10px;
    right: 10px;
}